<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div class="container mt-5">
        <h2>Transaction Data</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Debit</th>
                    <th>Credit</th>
                    <th>Mode of Payment</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction.date }}</td>
                        <td>{{ transaction.category }}</td>
                        <td>{{ transaction.description }}</td>
                        <td>{{ transaction.debit }}</td>
                        <td>{{ transaction.credit }}</td>
                        <td>{{ transaction.mode_of_payment }}</td>
                        <td>{{ transaction.balance }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>



</body>
</html>